


body{
    text-align: center;
}
header{
    height:100px;
    background:blue;
    width:100%;
    z-index=10;
    position:fixed;
background:url(design1.jpeg);
    text-align: left;
}
#banner{
    width:100%;
    height:700px;
    position:fixed;
    top:100px;
   background-color:#BCDDE8;
    background-size:cover;
    
}

#content{
    width:100%;
    position:relative;
    top:400px;
    background:green;
    height:1500px;
 background-color:#BCDDE8;
}
.card{
    background-color:#BCDDE8;
    width:400px;
    height:400px;
    
}