


body{
    text-align: left;
}
header{
    height:100px;
    background-color:white;
    width:100%;
    z-index=10;
    position:fixed;
    text-align: left;
}
#banner{
    width:100%;
    height:700px;
    position:fixed;
    top:100px;
   background-color:white;
    background-size:cover;
    
}

#content{
    width:100%;
    position:relative;
    top:400px;
    background:green;
    height:1500px;
 background-color:white;
}
.card{
    background-color:brown;
    width:400px;
    height:400px;
    
}
#avatar{
    width:800px;
    height:500px;
    background-color: black;
    
    margin-left: 0px;
    margin-right:600px;
    
}